     /* Estilos aplicados aos elementos globais */
     body {
      height: 100%;
      margin: 0;
    }

    /* Estilo do cabeçalho */
    header {
      background-color: #d1c2c2; /* Cor de fundo */
      padding: 20px; /* Espaçamento interno */
      text-align: center; /* Centraliza o texto */
      color: rgb(0, 0, 0); /* Cor do texto */
    }
    body {
      font-family: Arial, sans-serif;
      background-color: #aa0b0b;
      color: aliceblue;
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
  }

    /* Estilo do botão de perfil */
    .botao-perfil {
      right: 70px; /* Alinha o botão 100px da borda direita */
      top: 15px; /* Alinha o botão 15px da borda superior */
      position: absolute; /* Posicionamento absoluto */
      background-color: rgba(255, 0, 0, 0.747); /* Cor de fundo do botão */
      border: 1px solid rgb(0, 0, 0); /* Borda preta */
      color: rgb(255, 255, 255); /* Cor do texto */
      padding: 10px 20px; /* Espaçamento interno do botão */
      border-radius: 5px; /* Arredonda os cantos do botão */
      cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
      transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
    }

    /* Efeito ao passar o mouse sobre o botão */
    .botao-perfil:hover {
      background-color: #978787; /* Altera a cor ao passar o mouse */
    }
   
    main{
      flex: 1;
    }
    
    header img {
      max-width: 250px;
      height: 50px;
    }
    /* Estilo do rodapé */
    footer {
      font-size: 16px;
      background-color: #d1c2c2;
      color: rgb(0, 0, 0);
      padding: 1px; /* Ajusta o espaçamento interno do footer */
      text-align: center;
      width: 100%;
  }
    
    /* Estilo da tabela de salas */
    table {
      width: 70%; /* Largura total da tabela */
      border-collapse: collapse; /* Remove espaços entre bordas */
      margin-top: 20px; /* Espaçamento superior */
      margin: 25px auto;
      
    }

    th, td {
      border: 1px solid #ddd; /* Borda cinza clara */
      padding: 8px; /* Espaçamento interno */
      text-align: left; /* Alinhamento à esquerda */
    }

    th {
      background-color:  #d1c2c2; /* Cor de fundo para cabeçalho */
      color: rgb(0, 0, 0); /* Cor do texto no cabeçalho */
      font-family: Arial, sans-serif;
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: white;/* Cor de fundo para linhas pares */
      color:black
    }

    tr:hover {
      background-color: #978787; /* Cor de fundo ao passar o mouse */
    }